body {
    background-color: #f3f3f3;
}

section {
    background-color: white;
    text-align: center;
    padding: 40px 20px 20px 20px;
}


.dropdown-menu {
    width:100%;
}

h2 {
    font-size: 16px;
}

a:link {
    color: #101010;
    text-decoration: none;
    font-family: "Helvetica";
}

.person-title {
    font-family: Helvetica;
    font-size: 1em;
    color: #aaa;
}

.person-email {
    font-size: 1em;
}
