{% extends 'base.html' %}
{%  load staticfiles %}
{%  load bootstrap3 %}
{% load embed_video_tags %}


{% block content %}

    <div class="row">
        <div class="col-md-12">
         <img src="{% static 'images/elim-radio.jpg' %}" width="1150px" height="320px">
        </div>
    </div>

    </br>

    </br>
    </br>
    </br>
    </br>


    <div class="row">
        <div class="col-md-12">
         <img class="center-block" src="{% static 'images/elim-radio-player.jpg' %}" width="800px" height="400px">
        </div>
    </div>





{% endblock %}