{% extends 'base.html' %}
{%  load bootstrap3 %}
{%  load staticfiles %}


{% block content %}

        <div class="col-md-12">
            <h1>Retiro Internacional Elim Los Ángeles 2017</h1>
            <h2>Del 17 al 23 de julio del 2017</h2>
            <h2>Lugar: Anahaeim Convention Center</h2>
            </br>
            </br>
            </br>
            <img class="center-block" src="{% static 'images/retiro-la-2017.jpg' %}" width="1100px" height="550px">

            </br>
            </br>
            </br>
        </div>



{% endblock %}