{% extends 'base.html' %}
{%  load staticfiles %}
{%  load bootstrap3 %}
{% load embed_video_tags %}


{% block content %}


    <div class="col-md-8">
    <h1>FUNDAMENTS</h1>

    <p>Elim Ministries began in Guatemala City, with our apostle Othoniel Rios Paredes who guided by the Holy Spirit expanded  the gospel throughout Latin America and Europe.
    As part of this expansion in the year of 1996 Pastor Jorge V. Fuentes was delegated to continue the work in the city of Los Angeles, California (USA). He was sent to continue
    teaching the  healthy doctrine that produces a healthy lifestyle that  is going to leads us  to an encounter with our loving God. Today Elim Los Angeles remains as an  oasis for our lives.</p>


    <h1>BELIEFS</h1>

    <ul>
        <li>We believe in the  Triunity ; in the one Almighty and Eternal God that exists and has manifested in three persons; God the Father, God the Son, and God the Holy Spirit.</li>
​
        <li>We believe that the Bible was inspired by the Holy Spirit and that is the same word Infaliable of God to man and it contains the plan of salvation for humanity.</li>
​
        <li>We believe that our salvation is by  love, grace and mercy. Right through the sacrifice of Jesus on the cross of Calvary. That today by faith we are children of God and  he has open the door of  consecration for  our lives to achieve our goal that is Jesus Christ our beloved.</li>
​
        <li>We believe in the baptism  of water  that is a step of obedience in which our old nature is buried and where we give birth to the new work that God wants to do  in us. (1st Ministration to the soul)</li>
​
        <li>We believe in the Holy Spirit and in its various manifestations (Baptism of the Holy Spirit) as speaking in tongues being this a language that every child of God have the opportunity to develop through the guidance of the Holy Spirit.</li>
​
        <li>We believe in the second coming of our Lord Jesus Christ  which we preach, yearn for and we know that is when  the beloved comes back for his beloved. That is why we declare come Lord Jesus, Come!</li>



</ul>

    <h1>MISSION</h1>

    <p>Our Mision is to preach the gospel to all creatures obeying  one of the last instructions of Jesus to our lives which is to teach and train the saints through out the healthy doctrine base on the written and reveal word of God to our lives.
        Our vision is to be a  congregation full of God's presence. We want to create and awake in each member of our congregation the  desire to obtain an intimate relationship with God. In order to become worthy of seeing our beloved Jesus Christ in his parusias.</p>

    <h1>VISION</h1>

    <p>Our vision is to be a  congregation full of God's presence. We want to create and awake in each member of our congregation the  desire to obtain an intimate relationship with God. In order to become worthy of seeing our beloved Jesus Christ in his parusias</p>

</div>

<div class="col-md-4">
    <img src="{% static 'images/pastor-jorge-y-esposa.jpg' %}" width="360px" height="320px">
    <p><i>Pastor General Jorge Fuentes  y Marleni Fuentes</i></p>
</div>




    </br>
    </br>
    </br>



{% endblock %}